body {
    font-family: Arial, sans-serif;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.halaman {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

h3 {
    margin-top: 20px;
}

p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}