body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('bgj.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.halaman {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: auto;
    width: 100%;
}

.table {
    height: auto;
    width: 80%;
}